@import 'variables';

.hike-form {
  background-color: lighten($primary, 50);
  margin: 0 auto;
  padding: $baseline;
  width: 30%;

  fieldset {
    border: none;
    text-align: left;
  }

  input,
  textarea {
    padding: $sub-baseline;
    width: 100%;
  }

}
