<h1 *ngIf="id">Edit Hike</h1>
<h1 *ngIf="!id">Add Hike</h1>

<form class="hike-form" *ngIf="hike" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>Basic Information</legend>
    <div class="field-group">
      <label for="hike-name">Name</label>
      <input
        id="hike-name"
        name="hike-name"
        type="text"
        [(ngModel)]="hike.name" />
    </div>

    <div class="field-group">
      <label for="hike-description">Description</label>
      <textarea
        id="hike-description"
        name="hike-description"
        rows="4"
        [(ngModel)]="hike.description"></textarea>
    </div>

    <div class="radio-group">
      <div id="hike-route">Hike Route</div>
      <input
        aria-labelledby="hike-route"
        id="hike-route-out"
        name="hike-route"
        type="radio"
        value="out-and-back"
        [(ngModel)]="hike.routeType" />
      <label for="hike-route-out">Out and Back</label>

      <input
        aria-labelledby="hike-route"
        id="hike-route-loop"
        name="hike-route"
        value="loop"
        type="radio"
        [(ngModel)]="hike.routeType" />
      <label for="hike-route-loop">Loop</label>

      <input
        aria-labelledby="hike-route"
        id="hike-route-point"
        name="hike-route"
        type="radio"
        value="point-to-point"
        [(ngModel)]="hike.routeType" />
      <label for="hike-route-point">Point to Point</label>
    </div>
  </fieldset>

  <fieldset>
    <legend>Additional Information</legend>
    <div class="field-group">
      <label for="hike-distance">Distance</label>
      <input
        id="hike-distance"
        name="hike-distance"
        type="number"
        [(ngModel)]="hike.distance" />
    </div>

    <div class="field-group">
      <label for="hike-elevation">Elevation Gain</label>
      <input
        id="hike-elevation"
        name="hike-elevation"
        type="number"
        [(ngModel)]="hike.elevationGain" />
    </div>

    <div class="field-group">
      <label for="hike-difficulty">Difficulty Level</label>
      <input
        id="hike-difficulty"
        max="5"
        min="1"
        name="hike-difficulty"
        type="range"
        [(ngModel)]="hike.difficultyLevel" />
    </div>
  </fieldset>
  <button class="action-button" type="submit">Submit</button>
</form>
