@import 'variables';

.hike-form {
  background-color: lighten($primary, 50);
  margin: 0 auto;
  padding: $baseline;
  width: 30%;

  fieldset {
    border: none;
    margin: $baseline 0;
    text-align: left;
  }

  legend {
    border-bottom: 1px solid $primary;
    font-weight: 700;
    width: 100%;
  }
}
