<span [ngSwitch]="control.controlType" [formGroup]="form" *ngIf="control">
    <label [for]="control.label">{{control.label}}:</label>
    <div class="field-group" *ngSwitchCase="'text'">
      <input
        [id]="control.label"
        [formControlName]="control.key"
        [type]="control.controlType" />
    </div>
    <div class="field-group" *ngSwitchCase="'textarea'">
      <textarea
        [id]="control.label"
        [formControlName]="control.key"
        rows="4"></textarea>
    </div>
</span>
<div class="alert-danger" *ngIf="showErrors && form.controls[control.key].invalid">
  <p>This field is required</p>
</div>
