// Colors
$black: #000;
$white: #fff;
$primary: #666;
$background: seagreen;
$danger: maroon;

// Typography
$base-font-family: "Roboto", sans-serif;

// Font Sizes
$base-font-size: 16px;

// Font Weights
$base-font-weight: 400;

// Line Heights
$base-line-height: 1.25;
$heading-line-height: $base-line-height;

// Spacing
$sub-baseline: 8px;
$baseline: 16px;

