<!--The content below is only a placeholder and can be replaced.-->
<div class="layout">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img class="sitelogo" alt="Store Logo" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='currentColor'%3E%3Cpath d='M.5 0a.5.5 0 0 1 .5.5V19H0V.5A.5.5 0 0 1 .5 0zM1.5 18h18a.5.5 0 0 1 .5.5v.5H1v-.5a.5.5 0 0 1 .5-.5zM4.5 8a.5.5 0 0 1 .5.5V18H4V8.5a.5.5 0 0 1 .5-.5zM8.5 5a.5.5 0 0 1 .5.5V18H8V5.5a.5.5 0 0 1 .5-.5zM12.5 11a.5.5 0 0 1 .5.5V18h-1v-6.5a.5.5 0 0 1 .5-.5zM16.5 11a.5.5 0 0 1 .5.5V18h-1v-6.5a.5.5 0 0 1 .5-.5z' /%3E%3C/g%3E%3C/svg%3E
">

</div>
<app-product-list></app-product-list>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
