@import 'variables';

.layout-header {
  align-items: center;
  display: flex;
}

.navbar {
  list-style-type: none;
  li {
    display: inline-block;
    margin: $sub-baseline;
    a:link,
    a:visited {
      background-color: $primary;
      color: $white;
      margin: $sub-baseline;
      padding: $sub-baseline $baseline;
      text-decoration: none;
    }
  }
}

.sitelogo {
  height: auto;
  margin: 0 $baseline;
  width: $baseline * 2;
}

