.product-list {
  margin: 1em auto;
  max-width: 1200px;
}

.product-list-table {
  border: collapse;
  width: 100%;

  th {
    background-color: #666;
    color: #fff;
    padding: 1em 2em;
  }

  td {
    padding: 1em 2em;
  }

  button {
    background: none;
  }

  img {
    height: auto;
    width: 30px;
  }

  .enlarged {
    width: 120px;
  }

  .currency {
    text-align: right;
  }
}
