.hike-list {
  margin: 1em auto;
  max-width: 1200px;
}

.hike-list-table {
  border: collapse;
  width: 100%;

  th {
    background-color: #666;
    color: #fff;
    padding: 1em 2em;
  }

  td {
    padding: 1em;
  }

  .star-column {
    min-width: 116px;
    text-align: center;
  }

  button {
    background: none;
  }

  img {
    height: auto;
    max-width: 100px;
  }
}
